<!-- TODO: izlistati sve recepte i na klik jednog recepta rutirati na stranicu /recipe/:id -->
<!-- TODO: svaki recept treba da ima delete button koji ce da ga obrise 
  (kada se klikne na delete button potrebno je da iskoci popup koji ce da pita da li ste sigurni da zelite da obirsete ovaj recept?) -->

<h1>All Recipes</h1>
<ng-container *ngIf="recipes.length; else noRecipes">
  <section
    *ngFor="
      let recipe of recipes.slice(
        currentPage * itemsPerPage,
        (currentPage + 1) * itemsPerPage
      )
    "
  >
    <mat-card class="example-card" [routerLink]="['/recipes', recipe.id]">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{ recipe.name }} </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="recipe.photo" alt="{{ recipe.name }} photo" />
      <mat-card-content>
        <p>Ingredients:</p>
        <ul>
          <li>{{ recipe.ingredients }}</li>
        </ul>
        <p>How to make it:</p>
        <ol>
          <li>{{ recipe.howTo }}</li>
        </ol>
        <button mat-raised-button>Edit</button>
        <button mat-raised-button (click)="removeRecipe(recipe.id, $event)">
          Delete
        </button>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
<ng-template #noRecipes>
  <h2>There are no recipes. Do you want to create new?</h2></ng-template
>

<button
  mat-raised-button
  class="newrecipe"
  routerLink="/newrecipe"
  color="primary"
>
  Create New Recipe
</button>
<br />
<!-- <br> promeniti ovo -->

<mat-paginator
  [length]="recipes.length"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[5]"
  (page)="updatePage($event)"
  aria-label="Select page"
></mat-paginator>
